.header {
  position: absolute;

  background: darkgreen;
  color: white;
  padding: 0 16px;
  box-sizing: border-box;
  z-index: 100;

  height: 50px;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}