.sidebar {
  position: absolute;
  left: 0;

  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 300px;
  height: 100%;

  background: darkgreen;
  transition: width .5s ease;

  padding: 70px 0 0;
  box-sizing: border-box;

  &--hidden {
    width: 0;
    z-index: -1;
  }

  &__item a {
    text-decoration: none;
    color: white;
    padding: 0 20px;
    font-size: 30px;

    z-index: 200;
  }
}