$c-grid-cell: rgba(#000, .5);
$c-grid-cell-selected: rgba(#000, .8);
$c-grid-cell-selected-hover: rgba(#000, .9);
$c-grid-cell-excluded: #cccccc;

$c-grid-cell-ranges: (
  range-1: rgba(#f90606, .7),
  range-2: rgba(#ff9933, .7),
  range-3: rgba(#ffff33, .7),
  range-4: rgba(#99ff66, .7),
  range-5: rgba(#009933, .7)
);

$c-grid-cell-ranges-hover: (
  range-1: rgba(#f90606, .9),
  range-2: rgba(#ff9933, .9),
  range-3: rgba(#ffff33, .9),
  range-4: rgba(#99ff66, .9),
  range-5: rgba(#009933, .9)
);

