

.home-page {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;

  &__content {
    background: rgba(0, 0, 0, .5);

    width: 100%;
    height: 50%;

    padding: 50px 20%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__welcome-text {
    color: #fff;
    text-align: center;
    font-size: 40px;
  }

  &__routes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 70px;
    gap: 50px;

    width: 100%;
  }

  &__route {
    position: relative;

    & svg {
      fill: rgba(#fff, .5);
      width: 50px;
      height: 50px;

      cursor: pointer;
      transition: transform .3s, color .3s;
    }

    & svg:hover {
      transform: scale(1.2);
      fill: #fff;
    }

    &:hover .home-page__route-title {
      visibility: visible;
    }
  }

  &__route-title {
    color: #fff;

    position: absolute;
    bottom: -25px;
    right: 50%;
    transform: translateX(50%);
    visibility: hidden;
  }

  @include media-less-than($m-mobile) {
    &__content {
      padding: 50px 30px;
    }

    &__welcome-text {
      font-size: 25px;
    }

    &__route-title {
      visibility: visible;
    }
  }
}