.knowledge-base-page {
  height: 100%;

  padding: 50px 20px 20px;
  box-sizing: border-box;
  overflow: auto;

  &__content {
    width: 60%;

    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 40px;
  }

  &__search-field-container {
    margin: 48px 0 0;

    & > div {
      width: 100%;
    }
  }

  &__section {
    margin: 24px 0 0;
  }

  &__section-title {
    font-size: 30px;
  }

  &__section-content {
    margin: 16px 0 0;
  }

  &__section-item-title {
    font-weight: bold;
  }

  &__section-item-description {

  }

  &__section-item-summary {
    margin: 16px 0 0;
    font-style: italic;
  }

  @include media-less-than($m-mobile) {
    &__content {
      width: 100%;
    }

    &__title {
      font-size: 25px;
    }

    &__section-title {
      font-size: 20px;
    }
  }
}