.map-page {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__control-panel {
    position: absolute;
    bottom: 0;

    width: 20%;
    height: 50%;
    box-sizing: border-box;

    background: white;

    transition: height 300ms ease;

    display: flex;
    flex-direction: column;

    &--hidden {
      height: 0;
    }
  }

  &__control-panel-content {
    overflow: hidden;
  }

  &__conrol-panel-field {
    padding: 16px;
  }

  &__conrol-panel-link-title {
    font-size: 20px;
  }

  &__conrol-panel-link {
    padding: 8px 24px;

    & > a {
      text-decoration: none;
      color: inherit;
      font-size: 18px;
    }
  }

  &__control-panel-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    height: 40px;
    width: 40px;

    border-radius: 50%;

    background: white;

    display: grid;
    place-items: center;

    cursor: pointer;

    color: tint(#000, 40%);
  }

  &__grid-container {
    font-size: 0;
    height: 100%;
    width: 100%;

    height: 150vh;
  }

  &__grid-row-aligner {
    float: left;
    height: 100%;
  }

  &__grid-cell-wrapper {
    background: transparent;
    display: inline-block;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  }

  &__grid-cell {
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background: rgba(0, 0, 0, .5);
    cursor: pointer;

    width: 96%;
    height: 96%;

    transform: translate(2%, 2%);

    &:hover {
      background: tint($c-grid-cell, 10%);
    }

    &--selected {
      background: $c-grid-cell-selected;
    }

    &--selected:hover {
      background: $c-grid-cell-selected-hover;
    }

    &--excluded, &--excluded:hover  {
      background: $c-grid-cell-excluded;
    }

    @for $i from 1 through 5 {

      &--range-#{$i} {
        background: map-get($c-grid-cell-ranges, range-#{$i});
      }

      &--range-#{$i}:hover {
        background:  map-get($c-grid-cell-ranges-hover, range-#{$i});
      }
    }

  }

  @include media-less-than($m-mobile) {
    overflow: hidden;

    &__control-panel {
      width: 100%;
      height: 100%;

      &--hidden {
        height: 0;
      }
    }
  }
}