@import "style/layout/header";
@import "style/layout/layout";
@import "style/layout/sidebar";
@import "style/lib/colors";
@import "style/lib/functions";
@import "style/lib/media";
@import "style/pages/homePage.scss";
@import "style/pages/mapPage.scss";
@import "style/pages/knowledgeBasePage.scss";

body {
  margin: 0;
  font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, body > div {
  height: 100%;
}